*.xml

.classpath
.project
/.settings/

target
bin

*.class
*.iml
.gradle/
gui/out/
util/build/libs/util-2.0.0.jar
util/build/tmp/jar/MANIFEST.MF
classes/
build/kotlin-build/version.txt
api/build/tmp/jar/MANIFEST.MF
api/build/
gui/build/
util/src/main/java/META-INF/MANIFEST.MF
build/
dump/
test/
