* {
    -fx-font-family: "Calibri";
    -fx-font-size: 12;
}

.label {
    -fx-text-fill: gray;
}

#title {
    -fx-font-size: 16;
}

.cod-gray {
    -fx-background-color : #121212;
}

.check-box {
    -fx-text-fill: white;
}

/* align table column text center */
.table-column {
  -fx-alignment: CENTER;
}

/* search bar */
.tf-search {
	-fx-background-image:url('icons/search_24.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: left center;
}

.text-field {
    -fx-background-color: white;
    -fx-text-fill: black;
	-fx-prompt-text-fill: black;
}

.list-view {
	-fx-background-color: #1F1F1F;
}

.list-cell:even {
    -fx-text-fill: gray;
    -fx-background-color: #1F1F1F;
}

.list-cell:odd {
    -fx-text-fill: gray;
	-fx-background-color: #1F1F1F;
}

.list-cell:filled:hover {
	-fx-text-fill: white;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-text-fill: white;
}

.table-view {
   -fx-background-color: #181818;
}

.table-view .column-header {
    -fx-background-color: #181818;
}

.table-row-cell {
    -fx-background-color: #181818;
}

.table-view .table-cell {
    -fx-text-fill: white;
    -fx-padding: 5;
}

/* Row hovered */
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: #282828;
}

.table-row-cell:selected {
	-fx-background-color: #282828;
}

/* Removes vertical cell borders */
.table-view {
  -fx-table-cell-border-color: transparent;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #282828;
}

.table-row-cell {
    -fx-table-cell-border-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: gray;
}

.table-view .filler {
  -fx-background-color: #181818;
  -fx-padding: 1em;
}

.table-view .scroll-bar:horizontal .increment-arrow,
.table-view .scroll-bar:horizontal .decrement-arrow,
.table-view .scroll-bar:horizontal .increment-button,
.table-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.context-menu {
	-fx-background-color: #333333;
}

.white {
    -fx-fill: white;
}

.menu-item {
	-fx-background-color: #333333;
}

.menu-item:hover {
	-fx-background-color: #292929;
}

.menu-item .label {
    -fx-text-fill: white;
}

*.scroll-bar:horizontal {
    -fx-opacity: 0;
}

*.scroll-bar:vertical *.thumb {
    -fx-background-color: #333333;
    -fx-padding: 10px;
}

*.scroll-bar:vertical *.thumb:hover {
	-fx-background-color: #404040;
}

*.scroll-bar:vertical *.increment-button,
*.scroll-bar:vertical *.decrement-button {
    -fx-background-color: #121212;
    -fx-padding: 5px;
    -fx-border-color: #121212;
    -fx-background-insets: 0, 0, 0;
}

*.scroll-bar:vertical *.increment-arrow,
*.scroll-bar:vertical *.decrement-arrow {
    -fx-shape: " ";
    -fx-padding:5px;
}

*.scroll-bar:vertical *.track {
	-fx-background-color: #181818;
	-fx-padding: 10px;
}

.menu-button:hover, .menu-button.showing {
	-fx-background-color: #292929;
}

#minBtn {
	-fx-graphic: url('icons/minimize_icon_light.png');
}

.button {
    -fx-text-fill: white;
	-fx-background-color: transparent;
}

.button:hover {
	-fx-background-color: #292929;
}

.button:pressed {
    -fx-background-color: #1F1F1F;
}

#maxBtn {
	-fx-graphic: url('icons/maximize_icon_light.png');
}

#closeBtn {
	-fx-graphic: url('icons/close_icon_light.png');
}

#closeBtn:hover {
	-fx-background-color: #E81123;
}

#closeBtn:pressed {
	-fx-background-color: #F1707A;
}

.titled-pane {
	-fx-text-fill: white;
}

.titled-pane > .title
{
	-fx-background-color: #181818;
	-fx-text-fill: white;
}

.titled-pane > .title > .arrow-button .arrow
{
	-fx-background-color: none;
}

.titled-pane > *.content
{
	-fx-background-color: #181818;
	-fx-box-border: transparent;
}

.tree-table-view {
   -fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-box-border: transparent;
	-fx-faint-focus-color: transparent;
}

.tree-table-view .column-header-background .label {
    -fx-text-fill: gray;
}

.tree-table-row-cell {
    -fx-background-color: #121212;
    -fx-border-color: transparent;
    -fx-table-cell-border-color:#121212;
}

.tree-table-view .tree-table-cell {
    -fx-text-fill: gray;
}

.tree-table-view .tree-table-cell:hover {
    -fx-text-fill: white;
}

.tree-table-view .corner {
        -fx-background-color: transparent;
}

.tree-table-view .column-header {
    -fx-background-color: #1F1F1F;
}

.tab-pane .tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane .tab
{
    -fx-background-color: silver;

}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

/* Remove blue focus border on a selected tab pane */
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
     -fx-border-width: 0;
}

.tree-view, .tree-cell {
	-fx-background-color: #1F1F1F;
    -fx-text-fill: gray;
}

.tree-cell:selected {
	-fx-text-fill: white;
}

.tree-cell:hover {
	-fx-text-fill: white;
}

.combo-box {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.combo-box .list-cell
{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: #121212;
    -fx-text-fill: white;
}

.tool-bar {
   -fx-background-color: #121212;
}

.tool-bar .button {
    -fx-text-fill: black;
	-fx-background-color: #bdc3c7;
}

.tool-bar .button:hover {
	-fx-background-color: #ecf0f1;
}